import("shiny")
import("shinyMobile")
importFrom("graphics", "hist.default", "lines", "par", "title")
importFrom("utils", "browseURL", "read.csv", "write.csv")
importFrom("stats", "as.formula", "lm", "loess", "median", "quantile")
importFrom("ggplot2", "annotate", "geom_abline", "geom_point", "ggplot", "ylab")
importFrom("DT", "DTOutput", "datatable", "renderDT")
importFrom("EBImage", "colorMode", "otsu", "readImage", "channel", "imageData")
importFrom("fs", "dir_create", "path_home")
importFrom("shinyjs", "useShinyjs")
importFrom("shinyFiles", "parseDirPath")
importFrom("shinythemes", "shinytheme")
importFrom("methods", "is")
importFrom("mgcv", "gam")
export(run_analysis, 
       run_cal,
       run_core,
       run_quan,
       run_mobile_analysis, 
       run_mobile_cal,
       run_mobile_core,
       run_mobile_quan,  
       threshold_li, 
       triangle)

